<!DOCTYPE html>
<html>
<head>

     <link rel="stylesheet" type="text/css" href="bower_components\bootstrap\dist\css\bootstrap.css">
     
	<title>To-Do List Application</title>
</head>
<body>
<div class="container">
<h1> To-Do List Application</h1>

<table class="table">
	<thead>
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Description</th>
			
		</tr>

		<tr>
			<td><input class="form-control author-input"></td>
			<td><input class="form-control title-input"></td>
			<td><input class="form-control description-input"></td>
			<td><button class="btn btn-primary add-note">Add</button></td>
		</tr>
	</thead>
	<tbody class="notes-list"></tbody>
</table>
</div>

<script type="text/template" class="notes-list-template">
	<td><span class="author"><%= author %></span></td>
	<td><span class="title"><%= title %></span></td>
	<td><span class="description"><%= description %></span></td>
	<td><button class="btn btn-warning edit-notes">Edit</button> <br> <br>
	<button class="btn btn-danger delete-notes">Delete</button></td>

</script>

<script  src="bower_components/jquery/dist/jquery.js"></script>
<script  src="bower_components/underscore/underscore.js"></script>
<script  src="bower_components/backbone/backbone.js"></script>
<script src="js\script.js"></script>

</body>
</html>